configuration {
  display-drun: "Pod:";
  drun-display-format: "{icon} {name}";
  show-icons: true;
}

@theme "/dev/null"

* {
  background-color: black;
  text-color:       white;
}

window {
  padding: 0.5em;
  border-color: white;
  border: 2px;
  border-radius: 10px;
  width: 800px;
  height: 400px;
}

mainbox {
  orientation: horizontal;
  children: [ imagebox, listcontainer ];
}

/* Left side image panel */
imagebox {
    background-image: url("pod2.png");
    background-position: center;   
    width: 300px;
    height: 100%;                   
}

/* Right side menu panel */
listcontainer {
  children: [ inputbar, listview ];
  padding: 0.1em;
  background-color: black;
}

listview, inputbar, message {
  padding: 0.1em;
  background-color: black;
  columns: 1;
  lines: 14;
}

element selected {
  border: 2px;
  border-color: #FFFFFF;
  background-color: white;
  foreground: #FFFFFF;
}

element, element-text, element-icon, button {
  cursor: pointer;
}
